.show-all {
  display: flex;
  min-width: 135px;
  align-items: center;
  justify-content: center;
}

.show-all__icon {
  position: relative;
  width: 55px;
  height: 55px;
  margin-left: 20px;
  border-radius: 50%;
  background-color: #796FF1;
  &::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 17px;
    width: 14px;
    height: 14px;
    border-right: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    transform: rotate(-45deg);
  }
}

.show-all__link {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: #796FF1;
  text-decoration: none;
}